@use '../utility/mixins' as *;

:root {
    //colors
    --clr-accent-light-green: 136 64% 51%;
    --clr-accent-dark-green: 192 69% 51%;

    --clr-accent: linear-gradient(160deg,
            hsl(var(--clr-accent-light-green)) 0%,
            hsl(var(--clr-accent-dark-green)) 100%);

    --clr-accent-light: linear-gradient(160deg,
            ligthen(hsl(136 64% 51%), 10%) 0%,
            ligthen(hsl(192 69% 51%), 10%) 100%);

    --clr-dark: 231 26% 24%;
    --clr-green: 158 61% 49%;
    --clr-grey: 231 8% 61%;
    --clr-grey-light: 223 18% 96%;
    --clr-white: 255 100% 100%;

    //fonts
    --ff-sans: 'Public Sans', sans-serif;

    --fs-900: 4rem;
    --fs-800: 3.2rem;
    --fs-700: 2rem;
    --fs-600: 1.6rem;
    --fs-500: 1.5rem;
    --fs-400: 1.4rem;
    --fs-300: 1.3rem;
    --fs-200: 1rem;

    //animation
    --transition-fast: 200ms;

    @include respond(l) {
        --fs-900: 5.6rem;
        --fs-800: 4rem;
        --fs-700: 2.4rem;
        --fs-500: 1.6rem;
    }
}